#main-image{
background: #4dbce9 url(../articleImages/bane-divider.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover; }