/* Woopie framework 0.2 */
/* Base stylesheet - epub specifics */ 

/* Basic Stuff  */  
#wrapper	{
	font-family: $font2; 
	font-size: 11pt;
	background-color: #fff;
	color: $color1;
}
  
/* link colors */ 
a	{ 
	text-decoration: none;
	-webkit-text-fill-color: $color3; 
}
