/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	
		.sectionlink h3	{
			font-size: 24px;
			line-height: 22px;
		}
		
		#endsocial	{
			margin-left: 310px;
		}
	}
	
	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		
		.sectionlink	{
			clear: both;
			display:block;
			height: 240px;
			margin-bottom: 20px;
		}
		
		.sectionlink h3	{
			margin: 85px 0 35px 0;
		}
		
		#endsocial	{
			margin-left: 150px;
		}
		
		.content	{
			text-align: center;	
			padding: 0;
		}
		
		.content .sectionbutton	{
			margin:0 auto;
		}		
				
		#pages i	{
			display: none;
		}
		
		#pages a	{
			display: block;
			clear: both;
			margin: 0;
			padding: 5px 0;
			line-height: 20px;
		}
		
				
		.numb	{
			display: none;
		}
		
		.magnifier	{
			margin:20px 0 0 -20px;
			width: 60px;
			height: 60px;
			line-height: 60px;
			font-size: 40px;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	
		#endsocial	{
			margin-left: 90px;
		}
		
		.sectionoff	{
			padding:10px 0;
		}	
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/