/* Woopie framework 0.2 */
/* Contents - Base Styles */

#contents-body, #contents-listing	{
	margin:0;
}

#contents-listing	{

	ol	{
		margin: 0 0 $grid*2 0;
		padding: 0;
		list-style: none;
		
		li {
			margin: 0;
			padding: 0;
		}
	}
	
	ol li h2	{
		@include type
		(1.25, 1, 0);
		padding: $grid*0.75 0;
		font-family: $font2;
	}
	
	ol li ol	{

		}
	
	ol li ol li a {
		display: block;
		margin: 0;
		padding: $grid 0;
		
		h3	{
			font-family: $font1;
			margin: 0;
			padding:0;
			@include type
			(1.25, 1.5, 0);
		}
		
		i {
			font-style: normal;
			font-family: $font2;
		}
				
		em {
			font-family: $font1;
		}
		
		p	{
			font-family: $font3;
			margin: $grid*0.5 0 0;
			padding: 0;
		}
		
		&:hover {
			h3, i, em, p	{
				color: $color2;
			}
		}
	}
}