/* Woopie framework 0.2 */
/* Credits - Base Styles */

#credits	{
	color: $color2;
	font-family: $font1;
	@include type
	(1, 1.5, 1);
	margin:$grid*2 0;
	padding: 0;
	
	span	{
		margin:0;
		padding:0;
	}
	
	.tags {
	
		margin: $grid 0 $grid*2 0;
		padding: 0;
		
		dd {
			display: inline;
			margin: 0 $grid*0.25 0 0;
			padding: 0;
		}
	
		dt	{
			display: inline;
		}
	}
}