/* Woopie framework 0.2 */
/* Global content blocks - Media Queries Styles */

.content-block	{

	video	{
		width: 100%;
		height:auto;
	}
	
	.fig-video	{
		width: 100%;
	}

	* {
		@include transanim(0.5);
	}
}


.columnise	{
	@include columnstyle (lighten($color1,50%), solid, 1);
	
	h1	{
		-webkit-column-span: all;
		-moz-column-span: all;
		column-span: all;
	}
}


/* ############################################################ */
/* Less than 480px */
@media screen and (max-width: 30em) { 

	.content-block	{
		
		blockquote	{
		
			border:1px solid $color1;
			padding: $grid;
			margin:0 0 $grid*2 0;
		
			p	{
				@include type
				(1, 1.5, 1);
				}
			
			cite	{
				@include type
				(1, 1.5, 0);
				}
			}
		
		.fig-image-fixedsize	{
			padding:$grid $grid 0 $grid;
			margin: 0 0 $grid 0;
			text-align: center;
			
			img	{
				margin: 0 auto;
			}
		}
		
		.fig-image, .section-image 	{
			margin-bottom: $grid;
			width: 100%;
			
			img	{
				display: block;
			}
		}
	}
}


/* ############################################################ */
/* Over 480px */	
@media screen and (min-width: 481px)  { 

	.content-block	{
	
		/* Figures */
		.fig-image, .fig-video, .fig-pullquote	{
			clear: left;
			float: left;
			width: $grid*12;
			margin:0 $grid*2 $grid 0;
			
			blockquote p	{
				text-align: right;
			}
			footer	{
				text-align: right;
			}
			
		}
		
		blockquote	{
			
			p	{
				@include type
				(1, 1.5, 1);
			}
	
			cite	{
				@include type
				(1, 1.5, 0);
			}
		}
		
		.section-image 	{
			
			margin: 0 0 $grid 0;
			width: 100%;
			
			img	{
				display: block;
			}
		}
		
		.fig-image-fixedsize	{
			padding: 0;
			margin: 0 0 $grid 0;
			text-align: center;
			width: 100%;
	
			img	{
				text-align: center;
				display: block;
				margin: 0 auto;
			}

		}
		
		.scroll-vert	{
			margin: 0 0 $grid $grid;
		}
	}
}


/* ############################################################ */
/* Over 600px */	
@media screen and (min-width: 601px)  { 

	.content-block	{
	
		h1	{
			@include type
			(1.25, 1.5, 0.5);
		}
				
		p	{
			@include type
			(1.25, 1.5, 2);
		}
		
		pre	{
			@include type
			(1.25, 1.5, 2);
		}
		
		ul, ol	{
			margin:0 0 $grid*2 0;
			margin-left: 0;
			padding: 0;
			
		}
	
		li {
		
			@include type
			(1.1, 1.8, 0.5);
		
			ul, ol	{
				margin:$grid*0.5 0 0 $grid*2;
				padding: 0;
			}
		}			
		
		blockquote	{
			
			p	{
				@include type
				(1.1, 1.8, 1);
			}
	
			cite	{
				@include type
				(1.1, 1.8, 0);
			}
		}
					
		/* Tables */
		th, td	{
			@include type
			(1.1, 1.8, 1);
		}
	}
}


/* ############################################################ */
/* For general iPad layouts */
@media only screen and (device-width: 768px) {

}

/* ############################################################ */
/* Over 768px */
@media screen and (min-width: 769px)  { 
	
}


/* ############################################################ */
/* Over 1024px */
@media screen and (min-width: 1025px)  { 
	
	.content-block	{

		/* Figures */
		.fig-image, .fig-video, .fig-pullquote	{
			margin-left: -$grid*4;
			width: $grid*18;
		}

	}
}

/* ############################################################ */
/* Over 1280px */
@media screen and (min-width: 80.1em)	{
	
	.content-block	{
		
		/* Figures */
		.fig-image, .fig-video, .fig-pullquote	{
			margin-left: $hugeindent;
		}
	}
} 

/* ############################################################ */
/* Over 1600px */
@media screen and (min-width: 1600px) {

	.content-block	{
	
		h1	{
			@include type
			(1.5, 1.75, 0.5);
		}
				
		p	{
			@include type
			(1.5, 1.75, 2);
		}
		
		pre	{
			@include type
			(1.5, 1.75, 2);
		}
		
		ul, ol	{
			margin:0 0 $grid*2 0;
			margin-left: 0;
			padding: 0;
			
		}
	
		li {
		
			@include type
			(1.5, 1.8, 0.5);
		
			ul, ol	{
				margin:$grid*0.5 0 0 $grid*2;
				padding: 0;
			}
		}			
		
		blockquote	{
			
			p	{
				@include type
				(1.5, 1.75, 1);
			}
	
			cite	{
				@include type
				(1.25, 1.5, 0);
			}
		}
					
		/* Tables */
		th, td	{
			@include type
			(1.5, 1.75, 1);
		}
	}
}


/* ############################################################ */
/* Over a certain height */
@media screen and (min-height: 40em)  and (min-width: 768px)  { 

	.columnise	{
		@include columnset (2, $grid*3);	
	}
}

/* ############################################################ */
/* Over a certain height */
@media screen and (min-height: 40em)  and (min-width: 1025px)  { 

	.columnise	{
		@include columnset (3, $grid*4);	
	}
}

/* ############################################################ */
/* Print */
@media print { 

	.content-block	{
	
		.fig-image, .fig-video, .fig-pullquote	{
			clear: right;
			float: right;
			margin: 0 0 $grid $grid*2;
			padding: $grid*0.25 0 0 0;
			width: $grid*28;
		}
		
		blockquote	{
			margin:0 0 $grid*0.5 0;
			padding:0 $grid*0.5 0  $grid*2;
			border: none;
		}
		
		pre	{
			border: none;
		}
	}

}