/* Woopie framework 0.2 */
/* Titles - Media Queries Styles */

/* ############################################################ */
/* Less than 480px */
@media screen and (max-width: 30em) { 

	#intro-heading	{
	    width: 100%;
	
		.titlebox	{
			margin: -$grid*12 0 0 0;
			padding: $grid*2  $gutter $grid*0.25  $gutter;
			
			h1	{
				border-color: $revcolor1;
				color: $revcolor1;
			}
			
			h2	{
				color: $revcolor1;
			}
			
			.tab	{
				background: url(../images/tab-light.png) no-repeat;
				background-size: 100px 25px;
			}
		}
		
		#main-image	{
			@include roundcorner(0);
		}
		
		&.noimage	{
			
			.titlebox	{
				margin-top:$grid*2;
			}
			
		}
	}
}


/* ############################################################ */
/* Over 480px */	
@media screen and (min-width: 30.1em)  { 

	#intro-heading	{
		margin: 0;
		
		.titlebox	{
			margin: -$grid*12 $gutter $grid*4 $gutter;
			
			h1	{
				border-color: $revcolor1;
				color: $revcolor1;
			}
			
			h2	{
				color: $revcolor1;
			}
			
			.tab	{
				background: url(../images/tab-light.png) no-repeat;
				background-size: 100px 25px;
			}
		}
		
		#main-image	{
			margin: 0 0 $grid*2 0;
		}
		
		&.noimage	{
			
			.titlebox	{
				margin-top:$grid*2;	
			}
		}
	}
}

/* ############################################################ */
/* Over 600px */
@media screen and (min-width: 37.6em)  { 

}

/* ############################################################ */
/* For general iPad layouts */
@media only screen and (device-width: 768px) {

}

/* ############################################################ */
/* Over 768px */
@media screen and (min-width: 48.1em)  { 

	#intro-heading {
	
		.titlebox	{
			margin:$grid $gutter 0 $gutter;
			
			h1 {
				@include type
				(3, 1, 2);
				border-color: $color1;
				color: $color1;
			}
			
			h2	{
				@include type
				(2, 1, 1);
				color: $color1;
			}
			
			.tab	{
				background: url(../images/tab-dark.png) no-repeat;
				background-size: 100px 25px;
			}
		}
	}
}

/* ############################################################ */
/* Over 1024px */
@media screen and (min-width: 64.1em)  { 
	
	#intro-heading {
	
		.titlebox	{
		
			margin:$grid $medgutter 0 $medgutter;
						
			h1 {
				@include type
				(4, 1, 2);
				border-color: $color1;
				color: $color1;
			}
			
			h2	{
				@include type
				(2, 1, 1);
				color: $color1;
			}
		}
	}
}

/* ############################################################ */
/* Over 1280px */
@media screen and (min-width: 80.1em)	{
	
	#intro-heading {
	
		.titlebox	{
			margin:$grid $rightlargegutter 0 $leftlargegutter;
		}
	}
} 

/* ############################################################ */
/* Over 1600px */
@media screen and (min-width:  100em) { 
	
	#intro-heading {
	
		.titlebox	{
			margin:$grid $righthugegutter 0 $lefthugegutter;
		}
	}
}