/* Woopie framework 0.2 */
/* Contents - Media Queries Styles */

#contents-body	{
	margin:0 $gutter;
}


/* ############################################################ */
/* Less than 480px */
@media screen and (max-width: 30em) { 

}


/* ############################################################ */
/* Over 480px */	
@media screen and (min-width: 30.1em)  { 

	#contents-listing	{

		border: 1px solid $color1;
		clear: both;
		display: table;
		margin-bottom: $grid*2; 
	
		ol	{
			padding: $grid;
			
			li	{
				display: table-cell;
				float: left;
				margin: 0 $grid $grid*0.5 0;
				padding: 0;
				width: 48%;
				
				&:nth-of-type(2n)	{
					margin-right:0;
				}
				
				a	{
					padding: $grid*0.5 0;
				}
			}
		}
	}
}


/* ############################################################ */
/* Over 600px */	
@media screen and (min-width: 37.6em)  { 

	#contents-listing	{
	
		ol	{
			
			li	{
				
				a	{
					@include type
					(1.25, 1.5, 0.5);			
				}
			}
		}
	}
}


/* ############################################################ */
/* For general iPad layouts */
@media only screen and (device-width: 768px) {

	#contents-body	{
		margin:0 $medgutter;
	}	
}

/* ############################################################ */
/* Over 768px */
@media screen and (min-width: 48.1em)  { 

	#contents-body	{
		margin:0 $medgutter;
	}
	
}

/* ############################################################ */
/* Over 1024px */
@media screen and (min-width: 64.1em)  { 
	
	#contents-body	{
		margin:0 $medgutter;
	}
	
	#contents-listing	{
		
		ol	{
			padding: $grid;
			
			li	{
				width: 31%;
				
				&:nth-of-type(2n)	{
					margin-right:$grid;	
				}
				
				&:nth-of-type(3n)	{
					margin-right:0;
				}
			}
		}
	}
}

/* ############################################################ */
/* Over 1280px */
@media screen and (min-width: 80.1em)	{
	
	#contents-body	{
		margin:0 $rightlargegutter 0 $leftlargegutter;
	}
} 

/* ############################################################ */
/* Over 1600px */
@media screen and (min-width:  100em) { 

	#contents-body	{
		margin:0 $righthugegutter 0 $lefthugegutter;
	}

	#contents-listing	{
	
		ol	{
			
			li	{
				
				a	{
					@include type
					(1.5, 1.75, 0.5);			
				}
			}
		}
	}
}

/* ############################################################ */
/* Print */
@media print { 

	#main-image-print	{
		display: block;
	}
}