/* Woopie framework 0.2 */
/* End social tools - Base Styles */

#end-social	{
	margin:0 0 $grid*2 0;
	
	ul	{
		list-style: none;
		margin:0;
		padding: 0;
		clear: both;
		
		li {
			display: inline-block;
			margin:0 $grid*0.5 0 0;
		}
	}
	
	.fb_iframe_widget iframe	{
		vertical-align: top;
		margin-top: -7px;
		line-height: 1em;
	}
	
	h1	{
		font-family: $font2;
		@include type 
		(1.5, 2, 0.5);
		padding-top:$grid*0.5;
	}
}