/* Woopie framework 0.2 */
/* Credits - Media Queries Styles */

/* ############################################################ */
/* Less than 480px */
@media screen and (max-width: 30em) { 

	#credits	{
		
	}
}


/* ############################################################ */
/* Over 480px */	
@media screen and (min-width: 30.1em)  { 

	#credits	{
		
	}

}


/* ############################################################ */
/* Over 600px */	
@media screen and (min-width: 37.6em)  { 

	#credits	{
	
		.tags {
			
			dd {
				margin: 0 $grid*0.25;
				
				a {
					background: $color2;
					color: #fff;
					display: inline-block;
					padding: $grid*0.1 $grid*0.5;
					@include roundcorner(2);
					@include transanim(0.5);
					
					&:hover	{
						background: $color3;
					}
				}
			}
		}
	}
}


/* ############################################################ */
/* For general iPad layouts */
@media only screen and (device-width: 768px) {

}

/* ############################################################ */
/* Over 768px */
@media screen and (min-width: 48.1em)  { 

	#credits	{
		
	}
}


/* ############################################################ */
/* Over 1024px */
@media screen and (min-width: 64.1em)  { 

}

/* ############################################################ */
/* Over 1280px */
@media screen and (min-width: 80.1em)	{

	#credits	{
		
	}
} 

/* ############################################################ */
/* Over 1600px */
@media screen and (min-width:  100em) { 
	
	#credits	{
		
	}
}