/* Woopie framework 0.2 */
/* Global content blocks - Base Styles */
.content-block	{

	h1	{
		color: $color2;
		font-family: $bodyh1;
		@include type
		(1.15, 1.5, 0.5, bold, italic);
		text-rendering: optimizeLegibility;
	}

	h2	{
		color: $color2;
		font-family: $bodyh2;
		@include type
		(1.15, 1.5, 0.5, bold, italic);
		text-rendering: optimizeLegibility;
	}
	
	h3	{
		font-family: $bodyh3;
		@include type
		(1.25, 1.5, 1);
	}
	
	
	p	{
		@include type
		(1, 1.5, 2);
	}

	pre	{
		@include type
		(1, 1.5, 1);
		white-space: pre-wrap;       /* css-3 */
		white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		white-space: -pre-wrap;      /* Opera 4-6 */
		white-space: -o-pre-wrap;    /* Opera 7 */
		word-wrap: break-word;       /* Internet Explorer 5.5+ */
	}

	ul, ol	{
		margin:0 0 $grid $grid*1.5;
		padding: 0;
	}

	li {
		@include type
		(1, 1.5, 0.25);
		padding: 0;
		
		ul, ol	{
			margin:$grid*0.5 0 0 $grid*2;
			padding: 0;
		}
	}

	ul li, ol ul li	{
		list-style: square;
	}
	
	ol li, ul ol li	{
		list-style: decimal;
	}

	sup	{
		font-size: $grid*0.5;
	}
	
	abbr	{
		border-bottom: 1px dotted $color2;
		cursor: help;
	}

	/* Start Blockquote */
	blockquote	{
		border: 1px solid $color2;
		border-width: 2px 0 0 0;
		margin: 0 0 $grid 0;
		padding: $grid 0;
		page-break-inside: avoid;
	}
	
	blockquote p	{
		font-family: $quotes;
		font-style: normal;	
		margin: 0 0 $grid 0;
		padding: 0;
	}
	
	blockquote cite	{
		font-family: $quotecite;
		font-style: italic;
		color: $color2;
		display: block;
		margin: 0;
		padding:0;
	}
	
	blockquote cite:before	{ 
		content:"— ";
		opacity: 0.5;
	}
	/* End Blockquote */
	
	
	/* Figures */
	.fig-image, .fig-image-fixedsize, .fig-video, .fig-pullquote	{
		margin:0 0 $grid 0;
		padding:0;
		page-break-inside: avoid;
	}
	
	figcaption, .section-caption	{
		background: lighten($color4,40%);
		margin: 0;
		padding: $grid*0.5;
		@include type
		(1, 1.5, 0, normal, italic);
		font-family: $captions;
		@include roundcorneradv(0,0,4,4);
	}
	
	.fig-image img	{
		display: block;
		margin: 0;
		padding: 0;
		width: 100%;
		@include roundcorneradv(4,4,0,0);
	}
	
	.fig-image	{
		position: relative;
		clear: right;
		float: right;
		width: $grid*12;
		margin:0 0 $grid $grid*2;
	}
	
	.section-image {
		margin:0 0 $grid 0;
		position: relative;
			img	{
			display: block;
			margin: 0;
			@include roundcorneradv(4,4,0,0);
		}
	}
	
	.fig-image-fixedsize {
		width: 100%;
	
		img	{
			display: block;
			float: none;
			width: auto;
			margin: 0;
			@include roundcorner;
		}
				
		figcaption	{
			background: none;
			padding: $grid*0.5 0;
			width: 100%;
		}
	}
	
	.fig-video	{
		clear: both;
		display: block;
		width: 640px;
		height: 320px;
		height: auto;
		page-break-inside: avoid;
		
		video	{
			margin: 0;
		}
	}
	
	figcaption code	{
		font-style: normal;
	}
	
	.fig-image-zoom	{
		color: $revcolor1;
		font-family: $icons;
		@include type
		(4, 4, 0);
		padding: 0 $grid*0.5;
		position: absolute;
		top:0;
		right:0;
		z-index: 10;
	}



	/* Tables*/
	table	{
		border-collapse: collapse;
		margin:0 0 $grid*2 0;
		padding:0;
		width: 100%;
	}

	th, td	{
		border-bottom: 1px solid $color1;
		padding: $grid*0.5;
		@include type
		(1, 1.5, 1);
	}
	
	th	{
		text-align: left;
	}
	
	td	{
		border-bottom: 1px solid lighten($color1,50%);
	}

}
