/* Woopie framework 0.2 */
/* Credits - Base Styles */

#credits	{
	margin:0 0 $grid 0;
}

#roles	{
	@include type
	(1, 1.5, 2, bold, italic);
	clear: both;
	padding: 0 0 $grid*2 0;
	width: 100%;
	
	dt	{
		color: $color1;
		float:left;
		font-family: $credittitle;
		margin: 0 $grid*0.25 0 0;
		padding: 0;
		
	}
	
	dd	{
		font-family: $creditdata;
		margin: 0;
		padding: 0;
		color: $color1;
	}
}